<div class="well">
<h3>Multi-tenant application with Spring Boot + Spring Data + Mongodb + Spring Security + JWT</h3>

</div>
<div class="col-md-4 col-md-offset-4">
    <h2>Login</h2>
    <form name="form" [formGroup]="loginForm">
        <div class="form-group" >
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email" />
            
        </div>
        <div class="form-group" >
            <label for="password">Password</label>
            <input type="password" class="form-control"  formControlName="password"/>
           
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="login()">Login</button>
           
        </div>
    </form>
</div>
