<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
     <li><a href="#"><span class="glyphicon glyphicon-log-out" (click)="logout()"></span> Welcome: {{user.email}}</a></li>
     <li><a href="#">Tenant:  {{user.tenant}}</a></li>
    </ul>
  </div>
</nav>
