<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let faculity of faculityList">
      <td>{{faculity.name}}</td>
      <td>{{faculity.mobile}}</td>
      <td>{{faculity.email}}</td>
    </tr>
  
  </tbody>
</table>
