<app-header></app-header>

<div class="container">
    <div class="row">
      <div class="col-md-2">
          <app-left></app-left>
      </div>
      <div class="col-md-10">
          <router-outlet></router-outlet>
      </div>
    </div>
</div>

